<div th:fragment="footerLoginOn" class="footer-login">
    <div class="container-fluid container-footer">
        <span class="txt-footer"><a href="#"><i class="fab fa-whatsapp"></i></a></span>
        <span class="txt-footer"><a href="#"><i class="fab fa-facebook"></i></a></span>
        <span class="txt-footer"><a href="#"><i class="fab fa-instagram"></i></a></span>
        <span class="copy">Copyright &copy; 2023 Bancolombia</span>
        <div class="imglogo">
            <img src="/images/logo_ba_blanco.png" alt="Logo" class="logo-footer">
        </div>
    </div>
</div>