<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <th:block th:replace="~{fragments/configs :: headConfigs} "></th:block>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/resetLogin.css">
    <link rel="stylesheet" href="/css/headerLoginOn.css">
    <title>Olvide mi Contraseña</title>
</head>
<body>
    <div th:replace="~{fragments/header :: headerIndex}"></div>
    <div class="pag-name">
        <h2>Olvido de clave o desbloqueo de usuario</h2>
    </div>
    <div class="pag-name">
        <h3>Para recuperar tu clave o desbloquear tu usuario introduce tu correo electronico</h3>
    </div>
        <div class="login-container-password">
            <div class="login-info-container-password">
                <form th:action="@{/enviarMensajePassword}" class="inputs-password-form" method="POST">
                    <input class="input" name="correo" type="email" placeholder="Ingresa tu correo" required>
                    <div th:if="${error != null}">
                        <p><span class="span error-message">[[${error}]]</span></p>
                    </div>
                    <div th:if="${mensajeEnviado != null}">
                        <p><span class="span success-message">[[${mensajeEnviado}]]</span></p>
                    </div>
                    <div th:if="${errorMensaje != null}">
                        <p><span class="span error-message">[[${errorMensaje}]]</span></p>
                    </div>
                    <div th:if="${mensaje != null}">
                        <p><span class="span error-message">[[${mensaje}]]</span></p>
                    </div>
                    <div class="button-container">
                        <a th:href="@{/inicio}">
                            <button class="btn-cnc" type="button">Cancelar</button>
                        </a>
                        <button class="btn-env">Continuar</button>
                    </div>
                </form>
            </div>
        </div>
    <th:block th:replace="~{fragments/footer :: footerLoginOn}"></th:block>
</body>
</html>